

.buttonMain{
    border:1px solid #007bff;
    cursor: pointer;
    width: 120px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonMain p{
    color: #007bff;
    margin: 0;
    font-size: 15px;
    letter-spacing: 1px
}